// ======================== Main Content ================

// -------------------- Start Main ---------------------

.contact-block {
	margin-bottom: 115px;
}

.contact-block__header {
	font: 300 $header_size $font-stack;
	color: $header_color;
	margin-bottom: 20px;
}

.main-block__text {
	font: 400 15px $font-stack;
	color: $text_color;
	line-height: $line_height;
}

.main-block__form {
	margin-top: 50px;
}

.main-form__text {
	font: 400 $plain-text_size $font-stack;
	color: $text_color;
	margin-top: 25px;
	margin-bottom: 5px;
}

.main-form__input {
	display: inline-block;
	width: 65%;
	height: 40px;
	border: 1px solid #d7d7d7;
	padding-left: 10px;
	&:focus {
		border: 1px solid #d7d7d7;
		outline: 0;
	}
}

.main-form__textarea {
	display: inline-block;
	width: 95%;
	height: 170px;
	border: 1px solid #d7d7d7;
	padding-left: 10px;
	margin-bottom: 20px;
	padding-left: 10px;
	&:focus {
		border: 1px solid #d7d7d7;
		outline: 0;
	}
}

.main-form__button {
	display: block;
	cursor: pointer;
	@include button(#16808c);
}

// --------------------- End Main ----------------------




// --------------------- Start Aside -------------------

.main-block__aside {
	background: #f3f3f3;
}

.main-block__aside-header {
	font: 300 $sidebar-header_size $font-stack;
	color: $header_color;
	margin-top: 15px;
	margin-bottom: 10px;
}

.aside {
	margin-bottom: 30px;
}

.aside__info {
	padding-left: 15px;
}

.aside__info-header {
	font: 400 16px $font-stack;
	color: $header_color;
	margin: 0;
}

.aside__info-text {
	font: 400 $plain-text_size $font-stack;
	color: $text_color;
}

// ---------------------- End Aside --------------------